* {
    width: auto;
}

body {
    width: auto;
}

.header-main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 92px 3.4% 92px 3.54%;
    margin: 0;
}

.page-navigation {
    padding-top: 43px;
    padding-bottom: 43px;
    display: flex;
    flex-flow: row;
    justify-self: left;
}

.main {
    font-size: 18px;
    letter-spacing: 0;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
}

.list-flow {
    font-size: 18px;
    letter-spacing: 0;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    display: flex;
    flex-flow: row;
    row-gap: 13px;
    margin: 0;
    padding: 0;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 13px;
}

.watch-lots {
    margin-left: 5px;
    margin-right: 13px;
    text-decoration: underline;
}

.about-auction {
    margin-left: 5px;
    text-decoration: underline;
}

.logo-header {
    margin-left: 0;
    margin-right: 10.76%;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.contacts {
    object-position: right;
    padding-top: 5px;
    padding-bottom: 7px;
    display: flex;
    flex-flow: column;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0;
}

.title-ono {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-fill {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.ono-tebe-nado-title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 100px;
    letter-spacing: 30%;
    text-transform: uppercase;
    padding: 165px 3.47% 135px 3.47%;
    display: flex;
    flex-flow: column;
}

.ono {
    text-align: left;
    padding-bottom: 20px;
    line-height: 115%;
}

.letter {
    letter-spacing: 60%;
}

.tebe {
    text-align: center;
    padding-bottom: 20px;
    line-height: 100%;
}

.nado {
    text-align: right;
    line-height: 100%;
}

.text-button-align {
    display: flex;
    justify-content: space-between;

}

.title-description {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    margin-left: 29.31%;
}

.title-botton {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 22px;
    letter-spacing: 0;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    padding: 12px 32px 12px 32px;
    justify-self: end;
    margin-right: 3.47%;
    margin-left: 0;
}

.lots {
    margin: 0;
    padding: 180px 3.47% 0 3.47%;
}

.lots-title {
    margin: 0;
    padding: 0 0 27px 2.78%;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #000;
}

.lots-order {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.lot-film {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 29.86%;
    height: 450px;
    margin: 0;
    padding: 50px 2.78% 50px 2.78%;
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lot-film-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 22px;
    letter-spacing: 0%;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}

.lot-film-text {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 120%;
    color: #fff;
}

.lot-book {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 29.86%;
    height: 450px;
    margin: 0;
    padding: 50px 2.78% 50px 2.78%;
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lot-book-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 22px;
    letter-spacing: 0%;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}

.lot-book-text {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 120%;
    color: #fff;
}

.lot-picture {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 29.86%;
    height: 450px;
    margin: 0;
    padding: 50px 2.78% 50px 2.78%;
    background-image: url(/images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.lot-picture-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 22px;
    letter-spacing: 0%;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}

.lot-picture-text {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-display: swap;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    color: #fff;
}

.see-more {
    margin: 0;
    padding: 30px 0 0 2.78%;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 20px;
    letter-spacing: 0%;
    text-decoration: underline;
}

.about {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 180px;
}

.background-logo-about {
    width: 240px;
    height: 240px;
    margin: 180px 0 0 10.07%;
    padding: 0 95px 0 95px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-about {
    align-self: center;
    justify-self: center;
    background-color: #000;
    width: 148px;
    height: 114px;
    margin: 0;
}

.about-auction-whole {
    width: 61.46%;
    margin-top: 281px;
    padding-right: 2.78%;
    margin: 0;
}

.about-auction-title {
    margin: 0;
    padding: 0 0 100px 0;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-display: swap;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #000;
}

.about-auction-text {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 120%;
    column-gap: 24px;
}

.text-about {
    padding-top: 25px;
    padding-bottom: 1px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    padding-left: 2.78%;
}

.page-navigation-footer {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-display: swap;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: center;
    width: auto;
}

.main-footer {
    text-decoration: none;
}

.list-footer {
    list-style: none;

}

.images-footer {
    width: 240px;
    display: flex;
    justify-content: space-between;
    padding-right: 2.78%;
}

.image-footer {
    width: 48px;
    height: 48px;
    padding-right: 0;
}